.color-group {
    display: flex;
    height: calc(var(--space-xxl) * var(--size));
    font-size: var(--size--01);

    figure {
        flex-grow: 1;
        margin: 0;
        display: grid;
        gap: var(--space-sm) var(--space-md);
        grid-template-columns: repeat(auto-fit, max-content);
        grid-template-rows: repeat(2, min-content);
        padding: var(--space-md);

        figcaption {
            grid-column: 1 / -1;
            opacity: 0.6;
        }

        .number {
            font-weight: 700;
        }
    }

    margin-bottom: var(--space-xxl);
}

[color="core-purple-01"] {
    background-color: var(--core-purple-100);
    color: var(--neutral-000);
}

[color="core-purple-02"] {
    background-color: var(--core-purple-200);
    color: var(--neutral-000);
}

[color="core-purple-03"] {
    background-color: var(--core-purple-300);
    color: var(--neutral-000);
}