body {
    display: grid;
    min-block-size: 100%;
    grid-template-columns: 90vw;
    justify-content: center;
}

main {
    padding: var(--size-09);

    >section:not(:last-child) {
        margin-block-end: var(--size-09);
    }
}