.stylekit-demo {
    [name] {
        position: relative;

        &::before {
            top: calc((1em - 1ex) / 2);
            content: attr(name);
            font-family: var(--sans);
            font-size: var(--size--01);
            line-height: calc(1em + 1.1ex);
            letter-spacing: 0.03ch;
            margin-block-end: 1.25em;
            font-weight: 300;
            position: absolute;
            right: calc(100% + var(--size-00));
            opacity: 0.6;
        }
    }
}